* {
  top: 0;
  color: #E4E6EB;
  background-color: #18191A;
  text-align: left;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.col1 {
  width: 25%;
  left: 0%;
}

.col2 {
  width: 50%;
  left: 25%;
}

.col3 {
  width: 25%;
  left: 75%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.query-request {
  width: 22vw;
  height: 20vh;
  overflow: auto;
  resize: none;
}

#query-separator {
  height: 2vh;
}

.query-result {
  width: 22vw;
  height: 70vh;
  overflow: auto;
  resize: none;
}

#graph {
  width: 47vw;
  height: 94vh;
  border: 1px solid lightgray;
}
