body {
    color: #E4E6EB;
    background-color: #18191A;
    text-align: center;
}

#graph {
    width: auto;
    height: 70vh;
    max-width: 60%;
    margin: auto;
    border: 1px solid #E4E6EB;
    border-radius: 5px;
}
