<!--
File copied from https://github.com/spring-guides/tut-react-and-spring-data-rest/blob/master/basic/src/main/resources/templates/index.html
File copied on 2021-02-06.
Copy of full license is located at licenses/tut-react-and-spring-data-rest/LICENSE.

Modifications:
The title was changed to "JanusGraph App".
The spacing of the file was changed.
-->

<!--
Code original to janusgraph-app is covered by top-level LICENSE (MIT).
-->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>JanusGraph App</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<div id="react"></div>
<script src="built/bundle.js"></script>
</body>
</html>
