<!-- Modified from https://github.com/spring-guides/tut-react-and-spring-data-rest/blob/master/basic/src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>JanusGraph App</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div class="split left">
    <div class="centered">
        <form action=""> <!-- TODO: Retrieve data -->
            <textarea class="scrollabletextbox" name="q">query</textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <div id="react"></div>
        <div id="graph"></div>
    </div>
</div>

<!-- vis-network -->
<script
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    type="text/javascript"
></script>

<script src="built/bundle.js"></script>

</body>
</html>
